.tabelas-container {
  display: flex;
  gap: 20px;
}

.tabela {
  padding: 10px;
}

.tabela table {
  width: 100%;
}

.tabela th, .tabela td {
  border: 1px solid;
  padding: 5px;
  text-align: left;
}
